{# empty Twig template #}
<ul>
    {% for location in locations %}
    <li>
        <h2><a href="{{path('craft_location_default_view', {'slug':location.slug})}}">{{location.name}}</a></h2>
        <span>{{(location.distance / 1609.344) | number_format(2)}} miles</span>
    </li>
    {% endfor %}
</ul>