{% extends '::base.html.twig' %}
{% block headline %} Welcome! {% endblock %}
{% block content %}
<p>Welcome to Craftbeer.org.uk!</p>
<a class="btn btn-primary btn-large btn-block" href="{{url('craft_location_default_index')}}">Find Good Beer Here!</a>
{% endblock %}