{% extends "::base.html.twig" %}
{% block headline %}What is Craft Beer UK?{% endblock %}
{%block content %}
<p class="lead">Have you ever been to an unfamiliar city and thought "where the hell can I 
get a decent pint?!"</p>
<p>I have, and this sparked the idea for this site. There are plenty of resources
 which exist to show you where you can get good beer (cask marque, the Good Beer
 Guide etc.) but I find these distinctly lacking. I don't want to just find beer
 that is well kept. Instead I want to find interesting and exciting beers in places
 which may not be in these guides. This is why this is about craft beer.</p>
<h2>What is Craft Beer?</h2>
<p>There is much debate about what craft beer actually is. Some say it is to do 
with the size of the brewery, while others argue that the size is irrelevant and
 it is purely to do with the quality and/or ingredients.</p>
<p>This site is not attempting to settle this debate, and with the information
 being crowd-sourced, it is up to the users what goes in it.</p>
<h2>Where Craft Beer UK Fits In</h2>
<p>Craft Beer UK is designed to be a repository where users can share information
 about places where you can buy good beer, regardless of how it's dispensed, and
 free from the pubs which are tied to the large, dull, old, family brewers which
 seem to dominate the Good Beer Guide and other resources.</p>
{% endblock %}
